.header {
  background: #ffffff;
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  align-items: center;
  @media screen and (min-width:480px){
    justify-content: space-between;
  }
  
}


.header-contact {
  display: flex;
  margin-left: auto;
  @media screen and (min-width:320px) and (max-width:767px){
    display: none;
  }
  @media screen and (min-width:768px) and (max-width:1024px){
    display:flex;
    flex-direction: column;
    align-items: baseline;

  }
  .header-contact__item + .header-contact__item {
    margin-left: 50px;
    @media screen and (min-width:768px) and (max-width:1024px){
      margin-left: 0;
    }
  }
  .header-contact__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--three-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.18;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .header-contact__icon {
      margin-right: 10px;
    }
    &:focus,&:hover{
      color: #2196f3;
      outline: none;
    }
  }
}
.header_mobile-btn{
  display: block;
  width: 24px;
  height: 16px;
  background-color: transparent;
  border:none;
  @media screen and (min-width:320px) {
    display: flex;
    align-items: center;
   
  }
  @media screen and (min-width:768px){
    display:none;
  }
}
.header_mob-menu-icon{
  fill:#000;
}